# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Google credentials
credentials.json
token.json

# Node
node_modules/

# Build
dist/

.env
credentials.json
token.json
venv/
__pycache__/
node_modules/